.points-list__object-row--blank_true
	add-object-icon-offset = 15px
	margin-left -1 * add-object-icon-offset
	background url(icons-dir'add.png') no-repeat left center
	list-style none
	padding-left add-object-icon-offset
	opacity 0.5
	&>input
		font-size 14
		background-color transparent
		border-style none
		outline none
		color boulder
		-webkit-text-fill-color boulder
	&:hover>input
		color silver
		-webkit-text-fill-color silver
	&:hover
		background url(icons-dir'add-hover.png') no-repeat left center