.map__marker
	position absolute
	width 32px
	height 32px
	left -(@width/2)
	top -@height
	background-image url(icons-dir'point-marker-large.png')
	&:hover
		background-image url(icons-dir'point-marker-large-hover.png')
		z-index 2
	& .map__description-input
		opacity 0
	&:hover .map__description-input
		background-color boulder
		border-style solid
		border-color silver
		opacity 1
		z-index 2
	& .map__description-input:focus
		opacity 1
		z-index 2
	