.map__description-input
	position absolute
	width 100px
	padding 5px
	left -((@width - 32px) / 2)
	bottom 10px
	background-color boulder
	border-radius 20px
	border-width 2px
	border-color boulder
	color silver
	font-family Arial
	text-align center
	font-size 13
	outline 0
	resize none
	